.Card {

    height: 175px;
    overflow: hidden;
    width: 175px;
    margin: 10px;
    border: 2px solid black;
    position: relative;

    .Image {
        position: relative;
        right: 80px;
        top: 10px;
        transition: opacity 250ms ease-in-out;
    }

    &.location .Image {
        right: 100px;
        top: -30px;
    }

    &.attachment .Image {
        top: -50px;
        right: 70px;
    }

    &.plot .Image {
        right: 140px;
        top: 20px;
        transform: scale(1.2);
    }

    &.agenda .Image {
        top: -60px;
        right: 60px;
    }

    &.character .Image {
        top: -20px;
    }

    &.event .Image {
        top: -80px;
    }

    &.title .Image {
        top: 30px;
        transform: scale(1.6);
    }
}
